<header id="header">
  <%= render 'posts/navbar' %> 
</header>
<div class="wrapper">
  
  <section class="main">
   
   <div class="old-ver">
     <img src="https://i-h2.pinimg.com/564x/c5/0f/c2/c50fc25fc37310cfdce1e86b057eb0e1.jpg">
     <h1>Hi there :D</h1>
     <h2>We have made our website more effectively</h2>

     <h2>You can keep finding awesome gadgets and a good deals here</h2>
     <h2><a href="/dealzons"><span class="keepfind">Keep find a good deals</span></a></h2>
   </div>

  </section>
</div>