   <section id="filter">
      
      <div class="ui-group">
        <input id="category" type="checkbox">
        <label id="category-label" for="category"><i class="fas fa-caret-down"></i> Category</label>
        <div id="category-button-group" class="button-group js-radio-button-group" data-filter-group="category">
          <div>
            <input type="checkbox" value="*" id="all" />
            <label class="isotope_button is-checked" for="all">All</label>
          </div> 
          <div>
            <input type="checkbox" value=".new" id="new" />
            <label class="isotope_button" for="new">New Arrivals</label>
          </div>
          <div>
            <input type="checkbox" value=".women" id="women" />
            <label class="isotope_button" for="women">Women</label>
          </div>
          <div>
            <input type="checkbox" value=".men" id="men" />
            <label class="isotope_button" for="men">Men</label>
          </div>
        </div>
      </div>
      
      <div class="ui-group">
        <input id="color" type="checkbox">
        <label id="color-label" for="color"><i class="fas fa-caret-down"></i> Color</label>
        <div id="color-button-group" class="button-group js-radio-button-group" data-filter-group="color">
          <div id="grey" class="color-circle button" data-filter=".grey"></div>
          <div id="red" class="color-circle button" data-filter=".red"></div>  
          <div id="green" class="color-circle button" data-filter=".green"></div>
          <div id="blue" class="color-circle button" data-filter=".blue"></div>
          <div id="brown" class="color-circle button" data-filter=".brown"></div>
          <div id="black" class="color-circle button" data-filter=".black"></div>
          <div id="camo" class="color-circle button" data-filter=".camo"></div>
        </div>
      </div> 
      
    </section>