<div class="soon_wraper">
    <h1>coming soon</h1>
</div>

<div class="none">
  <header id="header">
    <%= render 'dealzons/navbar' %> 
  </header>

  <!-- Wrapper -->
  <div class="wrapper">


  <!-- Main -->
    <section class="main clearfix">

      <div class="isotope_main clearfix">
        
        <%= render 'events/side' %>

        <section id="items">
          <div class="filter-info">
            <div id="filter-display-container">
              <p id="category-filter-display"></p>
              <p id="color-filter-display"></p>
            </div>
            <div id="filter-count-container">
              <p id="initial-filter-count"></p>
              <p id="updated-filter-count"></p>
            </div>
          </div>
          <div id="no-items-container">
            <p id="no-items-text">No items matched this filter. Please try another.</p>
          </div>
          
          
        <%= render 'events/content' %>
        </section>
        
      </div>

    </section>
  </div>
      
    <!--<footer>-->
    <!--  <i id="back-to-top-btn" class="fas fa-angle-up" aria-hidden="true"></i>-->
      
    <!--  <p>Help</p>-->
    <!--  <p>Terms</p>-->
    <!--  <p>Sign Up</p>-->
    <!--  <a id="logo" href="/">-->
    <!--    <img src="https://s20.postimg.cc/8rsxvbezx/logo.png" alt="logo">-->
    <!--  </a>-->
    <!--  <p class="active">Shop</p>-->
    <!--  <p>About</p>-->
    <!--  <p>Contact</p>-->
      
    <!--  <i id="cart" class="fas fa-shopping-bag"></i>-->
    <!--</footer>-->
</div>