<section id="banner">
  <article data-position="bottom right">
  <div class="inner">
      <img src="<%=asset_path 'amazon_banner_01.jpg' %>" alt="Deals of the Day of Amazon">
      <h2>Deals of the Day</h2>
      <p>Up To 80% Off Amazon everyday new deals</p>
      <ul class="actions">
        <li><a target="_blank" class="button large" href="https://amzn.to/2COwKbd">Learn More</a></li>
      </ul>
    </div>
  </article>
  <!-- <article data-position="top right">
    <div class="inner">
      <img src="http://cdn.shopify.com/s/files/1/0513/2409/files/gadgets_time_01.jpeg?v=1497403238" alt="">
      <h2>Sed mattis nunc lorem</h2>
      <p>Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida fringilla.</p>
      <ul class="actions">
        <li><a class="button large" href="#">Magna sed dolor</a></li>
      </ul>
    </div>
  </article>
  <article data-position="right">
    <div class="inner">
      <img src="https://gaameover.com/wp-content/uploads/2018/03/dims.jpg" alt="">
      <h2>Nisl sed vitae</h2>
      <p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat purus ipsum consequat.</p>
      <ul class="actions">
        <li><a class="button large" href="#">Magna sed dolor</a></li>
      </ul>
    </div>
  </article>
  <article data-position="center">
    <div class="inner">
      <img src="https://images.pexels.com/photos/792345/pexels-photo-792345.jpeg?cs=srgb&dl=apple-laptop-technology-792345.jpg&fm=jpg" alt="">
      <h2>Porta ultricies consectetur</h2>
      <p>Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet. Magna tellus fusce tincidunt lorem.</p>
      <ul class="actions">
        <li><a class="button large" href="#">Magna sed dolor</a></li>
      </ul>
    </div>
  </article> -->
              
  
</section>