<div class="BF_container">
  
  <div class="BF_banner">
    <img src="<%=asset_path 'black_friday.png' %>" alt="Deals of the Day of Amazon">
  </div>

  <br/><br/>

  <div class="gallery">

    <div class="gallery-item">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fweeklyad.target.com%2Fpromotions%3Fcode%3DTarget-00181104%26page%3D1%26lnk%3DPreviewtheBlack&opt=1"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Target_old_logo.svg/2000px-Target_old_logo.svg.png" alt="Target"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="https://bit.ly/2K3y4Yy"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/1280px-Walmart_logo.svg.png" alt="Walmart"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://d3iqwsql9z4qvn.cloudfront.net/wp-content/uploads/2017/05/18203729/Amazon-Logo-PNG.png" alt="Amazon"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.bestbuy.com%2Fsite%2Fblack-friday%2Fsale-ad%2F%3Fcategory%3Ddoorbusters&opt=1"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/2000px-Best_Buy_Logo.svg.png" alt="bestbuy"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.macys.com%2Fsocial%2Fblack-friday%2F%3Fcm_kws%3Dblack%2520friday&opt=1"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Macys_logo.svg/1280px-Macys_logo.svg.png" alt="macys"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.newegg.com&opt="><img class="gallery-image" src="https://c1.neweggimages.com/WebResource/Themes/2005/Nest/logo_424x210.png" alt="newegg"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Kohl%27s_logo.svg/2000px-Kohl%27s_logo.svg.png" alt="Kohl's"></a>
    </div>

    <div class="gallery-item">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.costco.com%2Fblack-friday.html&opt=1"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Costco_Wholesale_logo_2010-10-26.svg/800px-Costco_Wholesale_logo_2010-10-26.svg.png" alt="costco"></a>
    </div>


  </div>

</div>