<section class="BF_grid-section">
 
  <div class="BF_header-section">
    <div class="BF_class-for">
     Other
    </div>
  </div>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.overstock.com%2Fblack-friday%3Ftid%3DHP%3A01%3AAmainL1%3APreBlackFridaySale&opt=1"><img src="https://i-h2.pinimg.com/564x/01/ef/64/01ef64f79c991492c0584ae498011232.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Overstock</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.groupon.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/39/21/13/39211338ef5b5cd3f9a16c5fc39a508c.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Groupon</p>
    </div>
  </article>

    <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.lowes.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/7f/55/da/7f55da6d048226b0dbadd2f19d354a17.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Lowe's</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.athome.com%2Fblack-friday.html&opt=1"><img src="https://i-h2.pinimg.com/564x/15/f6/e5/15f6e58fd908b9b9fcb27ea01d9a3350.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>at home</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.truevalue.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/6b/10/09/6b1009b65f4f2c0064866beb1b6286f1.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>True Value</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.petsuppliesplus.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/48/a6/ad/48a6ad985dd0375c7d3fd0d3bcbf3bd5.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Pet Supplies Plus</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.fredmeyer.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/fd/4d/5a/fd4d5a75df41a36a33467ec47c94fe45.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Fred Meyer</p>
    </div>
  </article>

<!--   <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="Site_URL"><img src="Image_URL"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Store_Name</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="Site_URL"><img src="Image_URL"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Store_Name</p>
    </div>
  </article> -->

 </section>