<section class="BF_grid-section">
 
  <div class="BF_header-section">
    <div class="BF_class-for">
      Electronics Stores
    </div>
  </div>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.bestbuy.com%2Fsite%2Fblack-friday%2Fsale-ad%2F%3Fcategory%3Ddoorbusters&opt=1"><img src="https://i-h2.pinimg.com/564x/cf/fb/47/cffb47285548eec899fe32ff76615b3c.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Best Buy</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.newegg.com&opt=1"><img src="https://i-h2.pinimg.com/564x/c5/69/ba/c569bab5d1bfff3a1bbd40fab99b4948.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Newegg</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="http://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=http%3A%2F%2Fwww.tigerdirect.com%2Fapplications%2Fcampaigns%2Fdeals.asp%3Fcampaignid%3D3561&opt=1"><img src="https://i-h2.pinimg.com/564x/22/21/65/2221659d720918eb8e22e02d522ec4b9.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>TigerDirect</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.gamestop.com%2Fcollection%2Fblackfriday&opt=1"><img src="https://i-h2.pinimg.com/564x/81/43/53/8143535172989e886fdf7a094c7469bd.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>GameStop</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fstore.hp.com%2Fapp%2Fslp%2Fblack-friday-2018&opt=1"><img src="https://i-h2.pinimg.com/564x/f7/f6/17/f7f617a052c1d0f08c862ce5751b9966.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>HP</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fimages.frys.com%2Fart%2Femail%2F111118_sun081gde%2Fsun_pop.html%23set1&opt=1"><img src="https://i-h2.pinimg.com/564x/1f/39/9e/1f399ed76576a1b6a5bdb4c8685b141f.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Frys</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.microsoft.com%2Fen-us%2Fstore%2Fb%2Fblack-friday%3Ficid%3Dhomepage_topstripe_BlackFridayReveal_111018&opt=1"><img src="https://i-h2.pinimg.com/564x/a4/fe/9f/a4fe9f714724f94d56069bbbc728a67b.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>MicroSoft</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://i-h2.pinimg.com/564x/05/7e/b8/057eb86f964cd91688266fd839db2f7a.jpg"><img src="https://i-h2.pinimg.com/564x/05/7e/b8/057eb86f964cd91688266fd839db2f7a.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>SamSung</p>
    </div>
  </article>

 </section>