<section class="BF_grid-section">
 
  <div class="BF_header-section">
    <div class="BF_class-for">
      Clothes
    </div>
  </div>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.macys.com%2Fsocial%2Fblack-friday%2F%3Fcm_kws%3Dblack%2520friday&opt=1"><img src="https://i-h2.pinimg.com/564x/c1/0e/b8/c10eb81abeac6cd8c802aa6bd7edde31.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Macy's</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="http://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=http%3A%2F%2Fwww.jcpenney.com&opt=1"><img src="https://i-h2.pinimg.com/564x/e5/4b/92/e54b922b77215a94fb2c70b43b8c664d.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Jcpenney</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.bloomingdales.com&opt=1"><img src="https://i-h2.pinimg.com/564x/3e/46/9c/3e469c15fc4c9088888dc672d3aa0269.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Bloomingdales</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.steinmart.com&opt=1"><img src="https://i-h2.pinimg.com/564x/8f/52/fa/8f52fa8c38e000414ef028b733f7fc23.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Stein Mart</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.beallsflorida.com&opt=1"><img src="https://i-h2.pinimg.com/564x/30/42/03/304203cfa5017fad7b37ba16dc1307aa.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Bealls</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fww.victoriassecret.com%2Fblack-friday%3F&opt=1"><img src="https://i-h2.pinimg.com/564x/d7/3b/2a/d73b2aad55da7101ddc825a983739c71.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Victoria's Secret</p>
    </div>
  </article>

<!--   <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="Site_URL"><img src="Image_URL"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Store_Name</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="Site_URL"><img src="Image_URL"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Store_Name</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="Site_URL"><img src="Image_URL"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Store_Name</p>
    </div>
  </article> -->

 </section>