<section class="BF_grid-section">
 
  <div class="BF_header-section">
    <div class="BF_class-for">
      Department Stores
    </div>
  </div>
  
  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://bit.ly/2K4kjsL"><img src="https://slickdeals.net/attachment/BF/594/adscan/3004/converted-0.jpg?d=1541705382"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Kmart</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://bit.ly/2K3y4Yy"><img src="https://i-h2.pinimg.com/564x/f9/b7/d4/f9b7d416b097a949b6ed4f20b4038564.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Walmart</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fweeklyad.target.com%2Fpromotions%3Fcode%3DTarget-00181104%26page%3D1%26lnk%3DPreviewtheBlack&opt=1"><img src="https://i-h2.pinimg.com/564x/95/f6/2e/95f62e812626afbf3d6d9bdb8efdabe1.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Target</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.sears.com%2F&opt=1"><img src="https://i-h2.pinimg.com/564x/cd/c4/f9/cdc4f9e23f6a78348ce4227f2926cb4e.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Sears</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.kohls.com%2Fsale-event%2Fblack-friday-deals.jsp%3FsearchTerm%3Dblack%2520friday%26submit-search%3Dweb-regular&opt=1"><img src="https://i-h2.pinimg.com/564x/16/90/b6/1690b653d1538adedafc546676594c9b.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Kohl's</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.meijer.com%2Fcontent%2Fcontent.jsp%3FpageName%3Dblackfriday%26cmpid%3DHP%3AMeijer%3A111118%3Asqueeze%3ABlackFriday&opt=1"><img src="https://i-h2.pinimg.com/564x/95/65/99/9565996f449cda6ba65fe11c629ac6b1.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Meijer</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.belk.com%2Fblack-friday-ads.html&opt=1"><img src="https://i-h2.pinimg.com/236x/7e/42/52/7e42521713b565fba807289a06ba6f63.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Belk</p>
    </div>
  </article>

  <article class="BF_blog-card">
    <div class="BF_blog-card__image">
      <a target="_blank" href="https://redirect.viglink.com?key=9f8b8215c45eaf9e20303d2bf9cb410c&u=https%3A%2F%2Fwww.costco.com%2Fblack-friday.html&opt=1"><img src="https://i-h2.pinimg.com/564x/1b/f2/d3/1bf2d32f3dc631d2586d46ee2ebd9a43.jpg"></a>
    </div>
    <div class="BF_blog-card__title">
      <p>Costco</p>
    </div>
  </article>

 </section>