<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">

  <section class="main">
    
    <h1>This is the About Us page</h1>
    
  </section>

</div>

<!-- Footer -->
<%= render "shared/footer" %>








