<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">
  <section class="main">

    <section>
      <div class="BF_container">

        <h1 class="heading">Image Gallery with CSS Grid <span>& Flexbox Fallback</span></h1>

        <div class="gallery">

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://d3iqwsql9z4qvn.cloudfront.net/wp-content/uploads/2017/05/18203729/Amazon-Logo-PNG.png" alt="Amazon"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Target_old_logo.svg/2000px-Target_old_logo.svg.png" alt="Target"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/1280px-Walmart_logo.svg.png" alt="Walmart"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/2000px-Best_Buy_Logo.svg.png" alt="bestbuy"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Macys_logo.svg/1280px-Macys_logo.svg.png" alt="macys"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/768px-HP_logo_2012.svg.png" alt="Hp"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Kohl%27s_logo.svg/2000px-Kohl%27s_logo.svg.png" alt="Kohl's"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Costco_Wholesale_logo_2010-10-26.svg/800px-Costco_Wholesale_logo_2010-10-26.svg.png" alt="costco"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/JCPenney_logo.svg/1280px-JCPenney_logo.svg.png" alt="JPCenney"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://s7d2.scene7.com/is/image/dksfed/DSGLogo-FlatGreen?fmt=png-alpha&qlt=100" alt="Dicks Sporting Goods"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sears_logo_2010-present.svg/1280px-Sears_logo_2010-present.svg.png" alt="Sears"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/CVS_Pharmacy_Alt_Logo.svg/2000px-CVS_Pharmacy_Alt_Logo.svg.png" alt="CVS"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Staples%2C_Inc._logo.svg/2000px-Staples%2C_Inc._logo.svg.png" alt="Staples"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://academeatlanta.org/wp-content/uploads/2018/08/Office-Depot-Logo.png" alt="Office Depot"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Belk_logo_2010.svg/1280px-Belk_logo_2010.svg.png" alt="Belk"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://c1.neweggimages.com/WebResource/Themes/2005/Nest/logo_424x210.png" alt="newegg"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="https://i.pinimg.com/originals/c4/e3/a9/c4e3a9a01fc971f8ee0d4f8a904fce69.jpg" alt="Kmart"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>

          <div class="gallery-item">
            <a target="_blank" href="Store_URL"><img class="gallery-image" src="ImageURL" alt="StoreName"></a>
          </div>



          
        </div>

      </div>
    </section>


  </section>
</div>