<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<!-- Wrapper -->
<div class="wrapper">

  <!-- Main -->
    <section class="main">
     <%= render 'form' %>
    </section><!-- /.main -->

</div><!-- /.warpper -->

