  <div class="dis_slider-wrapper">
   <div class="dis_slider">

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2Jqf3Sg"><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2017/Libraries/Associates/300x250_Associate_FCS-2925_Fresh._V506599205_.jpg" /></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2JkrMGj"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img17/student/associate/1028240_student_v5_associate_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LRO28I"><img src="https://images-na.ssl-images-amazon.com/images/G/01/Associates/PrimeDiscounted_300x250._CB514736209_.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2JnVyKg"><img src="https://images-na.ssl-images-amazon.com/images/G/01/exclusives/associates/banners/ae-assoc-aug-300x250_store._V518503047_.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2JnRsl7"><img src="https://images-na.ssl-images-amazon.com/images/G/01/textbooks/assoc/3textbooks_textbooks-associates-070214_assoc_300x250.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LR326I"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/associates/associates-ads-evergreen_TRP_300x250._V362696058_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2xxHF7z"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/associates/associates-ads-evergreen_HNR_300x250_offsite._V362696107_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2HdRZRN"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/associates/associates-ads-evergreen_MWFI_300x250._V362695976_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2szI7wm"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/associates/associates-ads-evergreen_TGI_300x250._V362696191_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2sxHqUh"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img13/traffic/right-column/gb_associate_300x250.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LfABOJ"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/associates/associates-ads-evergreen_BSP_300x250.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2sBEJkv"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img13/traffic/associates/outlet-deals/outlet_deals_300x250._V376222709_.gif"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2xAUii5"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/PCs/wd-med-rectangle-PCs-01._V379039841_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2JdYllJ"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/Sports/wd-med-rectangle-sportingGoods-01._V379041383_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LUaX3o"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/Kitchen/wd-med-rectangle-kitchenGadgets-01._V379041010_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LRFONO"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/HomeImprovement/wd-med-rectangle-tools-01._V379041055_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LgOlsI"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/Electronics/wd-med-rectangle-electronics-01._V379030099_.png"/></img></a>
    </div>
    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2J4mIq5"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/General/wd-med-rectangle-products._V379029663_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2Le0DSy"><img src="https://images-na.ssl-images-amazon.com/images/G/01/warehouse-deals/Associates/Camera/wd-med-rectangle-cameras-01._V379029931_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LcwZx9"><img src="https://images-na.ssl-images-amazon.com/images/G/01/sm/OverwatchA4/Associates_Overwatch_300x250._V505207380_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LV8zt5"><img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/merch/2016/Other/HF/CreativeRefresh/HF-refresh_c3_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LdQOEo"><img src="https://images-na.ssl-images-amazon.com/images/G/01/vas/associates/bounty/amazon_home_services_bounty_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2J8mxtK"><img src="https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/associates/VXD168-evergreenAssociateAds-benefit-assoc-300x250"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LTn0hu"><img src="https://images-na.ssl-images-amazon.com/images/G/01/Associates/Prime_Gifting_300x250_updated._V324946771_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2Jl7k83"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/wedding-registry/associate/985266_awr_traffic-drivers_associate_300x250._V269730028_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LgQLYk"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img17/audible/associate/1062163_us_audible_sanamd_homestead_medium_rectangle_3_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2spdrhQ"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/mom/associate/33385_mom_ads_300x250.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2Jm0vmO"><img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/associates/dec15/TOMSS_Interstitial__300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2spHAh5"><img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/merch/associates/AssocAds_GleasonSVOD_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2Ja7EDv"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/baby/associate/19765_baby-registry_largest-selection_template_associate_300x250.jpg"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2LgCECf"><img src="https://images-na.ssl-images-amazon.com/images/G/01/Associates/US-KCPBounty-300x250-1._V350990572_.png"/></img></a>
    </div>

    <div class="promo_card">
      <a target="_blank" href="https://amzn.to/2sBK6jF"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img13/cellphones-amazonwireless/assoc/300x250/aw_evergreen_300x250.jpg"/></img></a>
    </div>

  </div>
</div>