<header id="header">
  <%= render 'posts/navbar' %> 
</header>
<div class="wrapper">
  <section class="main">
   <div class="form_section"> 
    <h1>Create New Deals of Amazon</h1>
   </div>
   <%= render 'form' %>
  </section>
</div>