// Place all the styles related to the Dealzons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------
   Index Page
 --------------------------------------------- */

.dealzon_card {
  width: calc(25% - 1.6rem);
  margin: 0.8rem;
  background: #fff;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}
.dealzon_card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.index_category {
  height: 1.5em;
}
.category_blue {
  color: #08f;
}
.category_red {
  color: #ff3333;
}
.category_green {
  color: #00cd00;
}
.category_purple {
  color: #cd00cd;
}
.category_orange {
  color: #ffa500;
}
.category_sale {
  font-size: .65em;
  letter-spacing: .1ch;
  /* padding-top: 1em; */
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}
.sale_index {
  color: #08f;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .dealzon_card {
    display: flex;
    width: calc(100% - 1.6rem);
  } 
  .dealzon_nav {
    display: none;
  }
  .card--content {
    width: 100%;
  }
}
@media screen and (max-width:500px) {
  .card--content {
    width: 100%;
  }
  .index_container p {
    margin: 0 0 0.5rem 0;
  }
}
/* ~~~~~~~~~~~~~~~~~~ Quick Nave ~~~~~~~~~~~~~~~~~~ */
.dealzon_nav {
  width: 100%;
  background-color:#3b3b3b;
}
.dealzon_nav ul {
  padding: 0em;
  margin-bottom: 1em;
}
.dealzon_nav ul li {
  display:inline-block;  
  padding: 0em;
}
.dealzon_nav a {
  color:#fff;
  display:block;
  text-decoration: none;
  padding:10px 15px;
 }
.dealzon_nav a:hover {
  background: #E65540;
  color: #fff;
}
.dealzon_nav .menu-trigger {
  display:none;
  color:#fff;
}
/* ~~~~~~~~~~~~~~~~~~ Quick Nave ~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:500px) {
  .dealzon_nav .menu-trigger {
    display:block;
  }
  .dealzon_nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  .dealzon_nav ul {
    display:none;
  }
}

/* ---------------------------------------------
   Show Page
 --------------------------------------------- */
.notice {
  color: gray;
}
.promo_code p {
 margin: 0em;
}
.show_bold {
 font-size: 1.1em;
 font-weight: bold;
}
.promo_code ul li:nth-child(2) {
  font-size: 0.8em;
  color: gray;
}
.code_step {
  border: 1px solid;
  padding: 0.8em;
}
.code_step ol li:nth-child(3) {
  margin-bottom: -2em;
}
.code_number {
  font-size: 1.2em;
}
.code_date {
  font-size: 0.9em;
  color: #999;
}
.end_code {
  font-size: 1.2em;
  color: red;
  text-decoration: line-through;
}
.end_date {
  color: red;
  font-size: 0.9em;
}



