// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.isotope_main {
  margin: 0 30px 80px 30px;
  display: flex;
  background-color: white important;
  flex-direction: row;
  justify-content: space-between;
}
.isotope_main #filter {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 150px;
  padding-left: 30px;
  background: white;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  border-right: 1px solid #777777;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  font-size: .75rem;
}
.isotope_main #filter .ui-group {
  border-bottom: 1px solid #777777;
}
.isotope_main #filter .ui-group input {
  display: none;
}
.isotope_main #filter .ui-group label {
  display: block;
  // padding: 30px 0;
  cursor: pointer;
}
.isotope_main #filter .ui-group label#category-label {
  padding-top: 0;
}
.isotope_main #filter .ui-group label i {
  margin-right: 30px;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
}
.isotope_main #filter .ui-group #category:checked + label > i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.isotope_main #filter .ui-group #category:checked ~ .button-group {
  height: 0;
}
.isotope_main #filter .ui-group #color:checked + label > i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.isotope_main #filter .ui-group #color:checked ~ .button-group {
  height: 0;
  margin-bottom: 0;
}
.isotope_main #filter .ui-group .button-group {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 250px;
  transition: height .2s ease-in-out;
}
.isotope_main #filter .ui-group .button-group div {
  margin-bottom: 30px;
}
.isotope_main #filter .ui-group .button-group input {
  display: none;
}
.isotope_main #filter .ui-group .button-group .button {
  padding: 10px;
  opacity: .5;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.isotope_main #filter .ui-group .button-group .button.is-checked {
  opacity: 1;
}
.isotope_main #filter .ui-group .button-group .button:hover {
  opacity: 1;
}
.isotope_main #filter .ui-group .button-group .color-circle {
  margin: 10px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
}
.isotope_main #filter .ui-group .button-group .color-circle#camo {
  background: url("https://s20.postimg.cc/top5zzkql/camo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.isotope_main #filter .ui-group .button-group .color-circle#green {
  background: #5c8464;
}
.isotope_main #filter .ui-group .button-group .color-circle#black {
  background: #292826;
}
.isotope_main #filter .ui-group .button-group .color-circle#blue {
  background: #637db7;
}
.isotope_main #filter .ui-group .button-group .color-circle#brown {
  background: #746354;
}
.isotope_main #filter .ui-group .button-group .color-circle#red {
  background: #99382d;
}
.isotope_main #filter .ui-group .button-group .color-circle#grey {
  background: #c9c9c9;
}
.isotope_main #filter .ui-group:nth-of-type(2) .button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: 80px;
  margin-bottom: 30px;
}
.isotope_main #items {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 80px;
  background: white;
  width: 80%;
  min-height: 100vh;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}
.isotope_main #items .filter-info {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}
.isotope_main #items .filter-info #filter-display-container {
  margin-left: 30px;
  color: #777777;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.isotope_main #items .filter-info #filter-display-container #category-filter-display {
  font-size: 2rem;
  margin: 0;
}
.isotope_main #items .filter-info #filter-display-container #color-filter-display {
  margin-top: 10px;
  margin-bottom: 0;
}
.isotope_main #items .filter-info #filter-count-container {
  color: #777777;
  font-weight: 300;
}
.isotope_main #items #no-items-container {
  width: 100%;
  height: 0;
  overflow: hidden;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.isotope_main #items #no-items-container #no-items-text {
  font-size: 1.2rem;
}
.isotope_main #items .Ch_grid {
  width: 100%;
}
.isotope_main #items .Ch_grid .Ch_grid-item {
  // width: 33.33%;
  width: 33.33%;
  // height: 334.03px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: #777777;
  cursor: pointer;
  overflow: hidden;
  float: left;
}
.isotope_main #items .Ch_grid .Ch_grid-item:hover .item-name, .isotope_main #items .Ch_grid .Ch_grid-item:hover .item-price {
  opacity: .5;
}
.isotope_main #items .Ch_grid .Ch_grid-item img {
  width: 80%;
  max-width: 440px;
  height: 20em;
  object-fit: contain;
}
.isotope_main #items .Ch_grid .Ch_grid-item .item-name {
  width: 80%;
  text-align: center;
  font-weight: 300;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
  line-height: 1.5;
}
.isotope_main #items .Ch_grid .Ch_grid-item .item-price {
  font-weight: 100;
  font-style: italic;
  font-size: .7rem;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
}

/* 
footer {
  padding: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #777777;
  background: #fff;
  z-index: 1;
  transition: bottom .5s ease-in-out;
}
footer #back-to-top-btn {
  font-size: 1.2rem;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #777777;
  position: relative;
  bottom: -100px;
  transition: bottom .5s ease-in-out;
}
footer #back-to-top-btn.show {
  bottom: 0;
}
footer #logo {
  width: 75px;
  text-decoration: none;
}
footer #logo img {
  width: 100%;
}
footer p {
  font-size: .9rem;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .75rem;
  opacity: .5;
  transition: opacity .2s ease-in-out;
}
footer p:hover {
  opacity: 1;
}
footer p.active {
  opacity: 1;
}
footer #cart {
  font-size: .9rem;
  padding: 10px 35px;
  cursor: pointer;
  border: 1px solid #777777;
  border-radius: 20px;
}
*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  .isotope_main #filter {
      display:none;
  }
  .isotope_main #items {
      width: 100%;
  }
  .isotope_main #items .Ch_grid .Ch_grid-item {
      width: 50%;
  }
  .isotope_main #items .Ch_grid .Ch_grid-item img {
      width: 100%;
  }
  .isotope_main #items {
      padding-right: 0em;
  }
}

@media (min-width:320px) and (max-width:768px) {
    .isotope_main #filter {
      display:none;
  }
  .isotope_main #items {
      width: 100%;
  }
  .isotope_main #items .Ch_grid .Ch_grid-item {
      width: 50%;
  }
  .isotope_main #items .Ch_grid .Ch_grid-item img {
      width: 100%;
  }
  .isotope_main #items {
      padding-right: 0em;
  }
}



// @media only and (max-idth : 500px) {
//     .isotope_main #filter {
//       display:none;
//   }
//   .isotope_main #items {
//       width: 100%;
//   }
//   .isotope_main #items .Ch_grid .Ch_grid-item {
//       width: 50%;
//   }
//   .isotope_main #items .Ch_grid .Ch_grid-item img {
//       width: 100%;
//   }
//   .isotope_main #items {
//       padding-right: 0em;
//   }
// }