// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------
   Responsive Product Cards
 --------------------------------------------- */
.index_container p {
  margin: .5rem 0;
  height: 3em;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}
.index_container {
  padding: 0 2rem 2rem;
  margin: 0 auto;
  max-width: 1000px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
.card {
  width: calc(33.3% - 1.6rem);
  /* width: calc(25% - 1.6rem); */
  margin: 0.8rem;
  background: #fff;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}
.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card--image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.card--image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.5em;
}
.card--content {
  padding: 0 0.5rem;
}
.card--content ul {
  margin: 0 0 0.5em 0;
  padding-left: 0em;
}
.card--content ul li {
  display: inline-block;
  list-style: none;
  padding-left: 0em;   
}
.card--content ul li:nth-child(1) {
  font-size: 1.2em;
}
.card--content ul li:nth-child(2) {
  text-decoration: line-through;
  color: #999;
}
.card--content ul li:nth-child(3) {
  float: right;
}
.card--category {
  font-size: .65em;
  letter-spacing: .1ch;
  /* padding-top: 1em; */
  font-weight: bold;
  /* color: #fff; */
  text-transform: uppercase;
}
.index_button {
  text-align: center;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 800px) {
  .card {
    display: flex;
    width: calc(100% - 1.6rem);
  }
}
@media screen and (max-width: 800px) {
  .card--image {
    width: 25%;
    min-width: 40%;
    padding-bottom: 25%;
  }
}
@media screen and (max-width: 800px) {
  .card--image img {
    position: absolute;
    width: 100%;
    /* height: 17em; */
    object-fit: contain;

  }
}

/* ---------------------------------------------
 Content with image(left) in Sidebar 
 --------------------------------------------- */
ul#side-rcnt-thumb-post-list {
list-style: none;
  margin: 0;
  padding: 0;
}
#side-rcnt-thumb-post-list li {
  overflow: hidden;
  border-top: 1px solid #CCC;
  padding: 15px 0;
  position: relative;
  min-height: 76px;
}
.srtpl-l {
  float: left;
  width: 20%;
  margin-right: 15px;
}
.srtpl-a {
  display: block;
  outline: 0!important;
  font-weight: 400;
}
#side-rcnt-thumb-post-list img {
  max-width: 100%;
  height: 4em;
  vertical-align: middle;
  border: 0;
  object-fit: cover;
}
.srtpl-r {
  margin-left: 90px;
}
.srtpl-n {
  display: block;
  color: #343534;
  line-height: 1.2;
  font-weight: 600;
  font-size: 15px;
  outline: 0!important;
  text-decoration: none;  
}

/* ---------------------------------------------
   Media Query
 --------------------------------------------- */
 @media screen and (max-width: 480px) {
   .index_container {
     padding: 0 1rem 1rem;
     margin-top: 2em;
   }
   .card--image img {
     object-fit: contain;
   }
 }
