/* ---------------------------------------------
   index auto slider on Dealzon
 --------------------------------------------- */
.slide {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.slide .visible {
  display: flex;
}
.slide-photo-box {
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 3em;
}
.slide-photo-box img { 
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide-text {
  float: left;
  width: 70%;
  height: 100%;
  margin-top: 1em;
}
.slider {
  padding: 0;
}
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}
.activedot, .dot:hover {
  background-color: #717171;
}
.index_active {
  display: flex;
}
.slider {
  margin: 0 0 1rem;
  width: 100%;
  height: 15em;
}
.slider-container {
  padding: 2rem;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .slider-container {
    padding: 0;
  }
  .slider {
    height: 100%;
  }
  .slide {
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .slide-text {
    width: 100%;
  }
  .slide-photo-box {
    width: 100%;
    margin-right : 0em;
  }
}

/* ---------------------------------------------
   On Old verson's webpage
 --------------------------------------------- */
 .old-ver {
   width: 60%;
   margin: 0 auto;
   text-align: center;
 }
 .old-ver img {
   width: 100%;
 }
 .keepfind {
   color: #08f;
   font-weight: bold;
 }

/* ---------------------------------------------
   Responsive Product Cards
 --------------------------------------------- */
.index_container p {
  margin: .5rem 0;
  height: 3em;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}
.index_container {
  padding: 0 2rem 2rem;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 2em;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
.card {
  /* width: calc(33.3% - 1.6rem); */
  width: 25%;
  /* margin: 0.8rem; */
  /* width: calc(26% - 1.6rem); */
  margin-bottom: 1em;
  background: #fff;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card--image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.card--image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}
.card--content {
  padding: 0 0.5rem;
}
.card--content ul {
  margin: 0 0 0.5em 0;
  padding-left: 0em;
}
.card--content ul li {
  display: inline-block;
  list-style: none;
  padding-left: 0em;   
}
.card--content ul li:nth-child(1) {
  font-size: 1.2em;
}
.card--content ul li:nth-child(2) {
  text-decoration: line-through;
  color: #999;
}
.card--content ul li:nth-child(3) {
  float: right;
}
.card--category {
  font-size: .65em;
  letter-spacing: .1ch;
  /* padding-top: 1em; */
  font-weight: bold;
  /* color: #fff; */
  text-transform: uppercase;
}
.index_button {
  text-align: center;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 800px) {
  .card {
    display: flex;
    /* width: calc(100% - 1.6rem); */
    width: 100%;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 800px) {
  .card--image {
    width: 25%;
    min-width: 40%;
    padding-bottom: 25%;
  }
}
@media screen and (max-width: 800px) {
  .card--image img {
    position: absolute;
    width: 100%;
    /* height: 17em; */
    object-fit: cover;

  }
}

/* ---------------------------------------------
 Content with image(left) in Sidebar 
 --------------------------------------------- */
ul#side-rcnt-thumb-post-list {
list-style: none;
  margin: 0;
  padding: 0;
}
#side-rcnt-thumb-post-list li {
  overflow: hidden;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
  position: relative;
  min-height: 76px;
}
.srtpl-l {
  float: left;
  width: 20%;
  margin-right: 15px;
}
.srtpl-l img {
  width: 100%;
}
.srtpl-a {
  display: block;
  outline: 0!important;
  font-weight: 400;
}
#side-rcnt-thumb-post-list img {
  max-width: 100%;
  height: 4em;
  vertical-align: middle;
  border: 0;
  object-fit: cover;
}
.srtpl-r {
  margin-left: 90px;
}
.srtpl-r p,
.show_category {
  margin: 0em;
  font-size: 0.8em;
  color: #999;
}
.srtpl-n {
  display: block;
  color: #343534;
  line-height: 1.2;
  font-weight: 600;
  font-size: 15px;
  outline: 0!important;
  text-decoration: none;  
}

/* ---------------------------------------------
   Media Query
 --------------------------------------------- */
 @media screen and (max-width: 480px) {
   .index_container {
     padding: 0 1rem 1rem;
     margin-top: 2em;
   }
   .card--image img {
     object-fit: cover;
   }
 }

/* ---------------------------------------------
   Devise
 --------------------------------------------- */
.devise_wrap {
  width: 70%;
  margin: 0 auto;
  padding: 2em;
}


/* ---------------------------------------------
   Index
 --------------------------------------------- */
.index_header {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 84em;
  width: calc(100% - 4em);
}
.somthing_hidden {
  display: none;
}
.notice {
  font-size: 0.8em;
  color: #999;
}

/* ------------------------------------------------------
   Accordian of Sidebar for popular post by category
 ------------------------------------------------------ */
.accordian {
  list-style:none;
  margin:0 0 40px;
  padding:0;
  border:1px solid #ddd;
  border-top:0;
}
ul.accordian li {
  padding-left: 0em;
}
.accordian header {
  display:block;
  margin:0;
  padding:1em;
  background:#fff;
  border-top:1px solid #ddd;
  cursor:pointer;
}
.accordian section {
  display:none;
  padding:1em;
  background:#fff;
  border-top:1px solid #ddd;
}
.accordian section.active {
  display:block;
}


/* ---------------------------------------------------------
   Related(the same category_id) product in show page
 --------------------------------------------------------- */
.header-section {
  width: 98%;
  height: 50px;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .header-section {
    width: 1001px;
  }
}
.grid-section {
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: -40em;
}
@media screen and (min-width: 1280px) {
  .grid-section {
    width: 100%;
  }
}
@media screen and (max-width: 853px) {
  .grid-section {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .grid-section {
    width: 100%;
    margin-bottom: 5em;
  }
}
/* related Card */
.related-card {
  width: calc(96% / 4);
  height: 250px;
  background: #fff;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: top;
  cursor: pointer;
}
.related-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}
.related-card__image {
  width: 100%;
  height: 150px;
  margin: 0;
}
.related-card__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
@media screen and (max-width: 1275px) {
  .related-card {
    width: calc(95% / 4);
  }
}
@media screen and (max-width: 768px) {
  .related-card {
    width: calc(96% / 3);
  }
}
@media screen and (max-width: 533px) {
  .related-card {
    width: calc(96% / 2);
  }
}
@media screen and (max-width: 360px) {
  .related-card {
    width: 98%;
  }
}
.related-card__title {
  width: 100%;
  height: 40px;
}
.related-card__title p {
  margin: 8px 5px;
  text-align: left;
  color: #9C9C9C;
  font-size: 0.82em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}
.related-card__title a {
  color: #9C9C9C;
}
.related-card hr {
  width: 95%;
  border-top: 1px solid #EDEDED;
  margin-top: 20px;
}
.related-card__details {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 12px;
  bottom: 0;
  padding: 0 5px;
  display: block;
}
.related-card__details--time, 
.related-card__details--view, 
.related-card__details--like {
  float: left;
  font-size: 0.75em;
  margin-top: 11px;
  color: #C0C0C0;
}
.related-card__details--view {
  float: left;
  margin-left: 5px;
  text-decoration: line-through;
}
.related-card__details--like {
  float: left;
}
.related-card__details--like i:hover {
  color: #1382C1;
}
.interested {
  font-size: 1.5em;
  margin-top: 25em;
}

/* ---------------------------------------------
   Modal for sidebar
 --------------------------------------------- */
[data-wrapper],
[data-footer] {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 0;
  transition: background .3s;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 9999;
}
[data-wrapper].active,
[data-footer].activefooter {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 100px 0;
}
[data-wrapper] .modal-content,
[data-footer] .modal-content-footer { 
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50px);
  transition: .3s;
  padding: 25px;
}
[data-wrapper].active .modal-content,
[data-footer].activefooter .modal-content-footer {
  margin-top: 3em;
  transform: translate(0, 0px);
  opacity: 1;
  visibility: visible;
}
[data-wrapper="modal-wrapper-large"] .modal-content,
[data-footer="modal-footer-large"] .modal-content-footer {
   max-width: 992px;
}
[data-wrapper] .modal-content h2,
[data-footer] .modal-content-footer h2 {
  margin: 0 0 15px 0;
}

@media screen and (max-width: 533px) {
  [data-wrapper] .modal-content {
    padding: 0em;
  }
  .modal-intro {
    padding: 20px;
  }
}


/* ---------------------------------------------
   Promotion Slider on show page
 --------------------------------------------- */
.dis_slider-wrapper {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  /* If we don't want horizontal scroll bars 
  &::-webkit-scrollbar {
      display: none;
    }
  --------- */
}
.dis_slider {
  background-color: white;
  border: 1px white;
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}
.dis_slider--content {
  min-width: 200px;
  margin: 5px;
  color: black;
}
.dis_slider--content img {
  width: 100%;
  height: 190px;
  padding: 1em;
  object-fit: contain;
}
.dis_slider--bestdeal {
  min-width: 300px;
  max-height: 250px;
  margin: 5px;
  color: black;
  -webkit-box-shadow: 0px 5px 20px -1px rgba(203,224,250,1);
  -moz-box-shadow: 0px 5px 20px -1px rgba(203,224,250,1);
  box-shadow: 0px 5px 20px -1px rgba(203,224,250,1);
}
.dis_slider--bestdeal img {
  width: 100%;
  height: 100%;
}
.dis_slider--content p {
  margin: 0 0 0.5em 0;
  padding: 0 0.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}
.dis_slider--content a {
  color: black;
}
.dis_slider--content ul {
  margin: 0em;
  color: #08f;
}
.dis_slider--content ul li,
.uk_price ul li,
.uk_price_show ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.5em;
}
.dis_slider--content ul li:nth-child(1),
.uk_price ul li:nth-child(2),
.uk_price_show ul li:nth-child(2) {
  text-decoration: line-through;
}
.dis_slider--content ul li:nth-child(2) {
  margin: 0em;
}
.dis_daily {
  margin-bottom: -2em;
}


/* ---------------------------------------------
   For Black Friday 2018
 --------------------------------------------- */

.BF_header-section {
  width: 98%;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media screen and (min-width: 1280px) {
  .BF_header-section {
    width: 1001px;
  }
}
.BF_class-for {
  text-align: left;
  font-size: 1.5em;
  color: #666;
  font-weight: 400;
  height: 100%;
  width: 65%;
  padding: 12px 0 0 0;
  margin: 0;
  float: left;
}

@media screen and (max-width: 768px) {
  .BF_class-for {
    font-size: 1.2em;
    padding: 18px 0 0 0;
  }
}
@media screen and (max-width: 414px) {
  .BF_class-for {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (max-width: 320px) {
  .BF_class-for {
    width: 55%;
  }
}
.BF_more-btn {
  position: absolute;
  width: 100px;
  height: 40px;
  z-index: 999;
  top: 0;
  right: 1px;
  margin-top: 12px;
}

.BF_grid-section {
  width: 80%;
  height: auto;
  /* text-align: center; */
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .BF_grid-section {
    width: 1010px;
  }
}
@media screen and (max-width: 853px) {
  .BF_grid-section {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .BF_grid-section {
    width: 100%;
  }
}
/* Blog Card */
.BF_blog-card {
  width: calc(96.5% / 4);
  height: 210px;
  background: #fff;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: top;
  cursor: pointer;
}
.BF_blog-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}
.BF_blog-card__image {
  width: 100%;
  height: 150px;
  margin: 0;
}
.BF_blog-card__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1275px) {
  .BF_blog-card {
    width: calc(95% / 4);
  }
}
@media screen and (max-width: 768px) {
  .BF_blog-card {
    width: calc(96% / 3);
  }
}
@media screen and (max-width: 533px) {
  .BF_blog-card {
    width: calc(96% / 2);
  }
}
@media screen and (max-width: 360px) {
  .BF_blog-card {
    width: 98%;
  }
}
.BF_blog-card__title {
  width: 100%;
  height: 40px;
}
.BF_blog-card__title p {
  margin: 8px 5px;
  text-align: left;
  color: #9C9C9C;
  font-size: 0.82em;
  font-weight: 600;
}
.BF_blog-card hr {
  width: 95%;
  border-top: 1px solid #EDEDED;
  margin-top: 20px;
}
.BF_blog-card__details {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 12px;
  bottom: 0;
  padding: 0 5px;
  display: block;
}
.BF_blog-card__details--time, .BF_blog-card__details--view, .BF_blog-card__details--like {
  float: left;
  font-size: 0.75em;
  margin-top: 11px;
  color: #C0C0C0;
}
.BF_blog-card__details--view {
  float: right;
}
.BF_blog-card__details--like {
  float: right;
  margin-left: 9px;
}
.BF_blog-card__details--like i:hover {
  color: #1382C1;
}

.BF_container .BF_banner {
  width: 100%;
}

.BF_container .BF_banner img {
  width: 100%;
}




