.index_header {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 84em;
  width: calc(100% - 4em);
}
.somthing_hidden {
  display: none;
}

/* ---------------------------------------------
   Accordian of Sidebar 
 --------------------------------------------- */
.accordian {
  list-style:none;
  margin:0 0 40px;
  padding:0;
  border:1px solid #ddd;
  border-top:0;
}
ul.accordian li {
  padding-left: 0em;
}
.accordian header {
  display:block;
  margin:0;
  padding:1em;
  background:#fff;
  border-top:1px solid #ddd;
  cursor:pointer;
}
.accordian section {
  display:none;
  padding:1em;
  background:#fff;
  border-top:1px solid #ddd;
}
.accordian section.active {
  display:block;
}

/* ---------------------------------------------
   Related Post test in all show page
 --------------------------------------------- */
.related_card {
  width: 25%;
}
.related_show img {
  width: 100%;
}


/* ---------------------------------------------------------
   Related(the same category_id) product in show pate
 --------------------------------------------------------- */
.header-section {
  width: 98%;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .header-section {
    width: 1001px;
  }
}

.grid-section {
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: -40em;
}

@media screen and (min-width: 1280px) {
  .grid-section {
    width: 100%;
  }
}
@media screen and (max-width: 853px) {
  .grid-section {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .grid-section {
    width: 100%;
    margin-bottom: 5em;
  }
}
/* Blog Card */
.blog-card {
  width: calc(96.5% / 4);
  height: 250px;
  background: #fff;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: top;
  cursor: pointer;
}
.blog-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}
.blog-card__image {
  width: 100%;
  height: 150px;
  margin: 0;
}
.blog-card__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
@media screen and (max-width: 1275px) {
  .blog-card {
    width: calc(95% / 4);
  }
}
@media screen and (max-width: 768px) {
  .blog-card {
    width: calc(96% / 3);
  }
}
@media screen and (max-width: 533px) {
  .blog-card {
    width: calc(96% / 2);
  }
}
@media screen and (max-width: 360px) {
  .blog-card {
    width: 98%;
  }
}
.blog-card__title {
  width: 100%;
  height: 40px;
}
.blog-card__title p {
  margin: 8px 5px;
  text-align: left;
  color: #9C9C9C;
  font-size: 0.82em;
  font-weight: 600;
}
.blog-card hr {
  width: 95%;
  border-top: 1px solid #EDEDED;
  margin-top: 20px;
}
.blog-card__details {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 12px;
  bottom: 0;
  padding: 0 5px;
  display: block;
}
.blog-card__details--time, .blog-card__details--view, .blog-card__details--like {
  float: left;
  font-size: 0.75em;
  margin-top: 11px;
  color: #C0C0C0;
}
.blog-card__details--view {
  float: right;
}
.blog-card__details--like {
  float: right;
  margin-left: 9px;
}
.blog-card__details--like i:hover {
  color: #1382C1;
}
.interested {
  font-size: 1.5em;
  margin-top: 25em;
}
